@import "../../../../vars.css";


.restaurant-list-item-img {
  min-width: 6rem;
  width: 18%;
}

.restaurant-list-item-img{
  /*border-style: solid;*/
  /*border-width: 1px;*/
  /*border-color: $grey-white-color;*/
  /*border-radius: 3px;*/
  /*background-color: $grey-white-ultra-color;*/
}

.media-image {
  width: 100%;
}

.mh-120 {
  min-height: 120px;
}

.fake-img {
  max-height: 1px;
  opacity: 0;
}

.restaurant-list-item {
  .restaurant-location-icon {
    font-size: 1rem;
  }

  .restaurant-info {
    font-size: 11px !important;
    color: $grey-light-color;
  }
}

