@import "../../vars.css";

.custom-checkbox {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-left: 25px;
}

/* Hide the browser's default checkbox */
.custom-checkbox input {
  position: absolute;
  opacity: 0;
}

.custom-checkbox i {
  font-size: 16px;
  position: absolute;
  top: 0;
  left: 0;
}

.custom-checkbox .custom-checkbox-checked {
  display: none;
}

.custom-checkbox input:checked ~ .custom-checkbox-checked {
  display: block;
}

.custom-checkbox input:checked ~ .custom-checkbox-none {
  display: none;
}

.custom-checkbox.selected {
  color: $red-color !important;
}