@import "../../../../vars.css";

.restaurant-cat{
  border-right: 4px solid $red-color;
  font-size: 0.75rem;
}

.restaurant-body-search input::-webkit-input-placeholder {
  font-size: 0.625rem;
  font-weight: 500 !important;
  color: $grey-light-color;
}

.restaurant-body-search input::-moz-placeholder {
  font-size: 0.625rem;
  font-weight: 500 !important;
  color: $grey-light-color;
}

.restaurant-body-search input:-ms-input-placeholder {
  font-size: 0.625rem;
  font-weight: 500 !important;
  color: $grey-light-color;
}

.restaurant-body-search input:-moz-placeholder {
  font-size: 0.625rem;
  font-weight: 500 !important;
  color: $grey-light-color;
}

.restaurant-body-content .col-md-6 {
  padding-right: 0;
}

.restaurant-cat .menu-item {
  padding: 0;
  padding-bottom: 0.75rem;
}

.restaurant-body-search {
  width: 312px;
}