@import "../../../../vars.css";

.breadcrumb-item + .breadcrumb-item::before {
  font: normal normal normal 14px/1 FontAwesome;
  color: $grey-light-color;
  content: "\f105";
  padding-left: 1rem;
  padding-right: 1rem;
}

.left-side-block {
  margin-left: -30px;
  margin-bottom: -30px;
  padding-left: 40px;
  padding-top: 10px;
}

.photo-group-large {
  min-width: 250px;
  max-height: 250px;
}

@media (max-width: 768px) {
  .block {
    box-shadow: none;
  }
}

.restaurant-address {
  font-size: 0.875rem;
}

.img-logo {
  max-width: 24px !important;
}

.restaurant-header-menu {
  font-size: 0.75rem;
  padding-top: 0.75rem;
}

.restaurant-header-main {
  padding-bottom: 0!important;

  .read-more {
    font-size: 0.75rem;
    color: $gray-color-400;
  }
}


.restaurant-location-icon {
  font-size: 1.25rem;
}

.restaurant-name {
  font-size: 1.5625rem;
}

.restaurant-tags {
  .badge-secondary {
    background-color: $grey-light-color;
  }
}

@media (min-width: 768px) {
  .restaurant-header-main .photo-group-large {
    min-width: 20vw;
    max-height: 20vw;
  }
}

@media (max-width: 768px) {
  .restaurant-header-main .photo-group-large {
    max-height: 100%;
  }
}

