@import "../../vars.css";

.menu {
  margin: 0;
}

.menu.menu-tags {
  .menu-item {
    background-color: $gray-color-300;
    color: $white-color;
    border-radius: 4px;
    padding: 5px 15px;
    margin-right: 5px;
  }

  .menu-item.selected {
    background-color: $gray-color;
  }
}

.menu.menu-decorator {
  .menu-item {
    text-align: center;
    padding-left: 24px;
    padding-right: 24px;
    /*margin-right: 30px; */
    border-bottom: 3px solid transparent;
  }

  .menu-item:first-child {
    padding-left: 24px;
  }

  .menu-item.selected {
    border-bottom: 3px solid $red-color;
  }
}