@import "../../../../vars.css";

.breadcrumb-item + .breadcrumb-item::before {
  font:normal normal normal 14px/1 FontAwesome;
  color: $grey-light-color;
  content: "\f105";    
}

.left-side-block{
  margin-left: -30px;
  margin-bottom: -30px;
  padding-left: 40px;
  padding-top:10px;  
}



.btn-shift-to-menu{
  margin-top: 15px;
}