/** common style here **/
$red-color: #ff5858;
$orange-color: #ff7200;
$green-color: #5fd683;
$yellow-color: #ffbe00;
$gray-color: #8c8c8c;
$gray-color-200: #e7e7e7;
$gray-color-400: #cbcbcb;
$gray-color-300: #d0d0d0;
$black-color-300: #767676;
$black-color-400: #454545;
$black-color: #333333;
$white-color: #ffffff;
$white-color-300: #f4f4f4;