@import "../../vars.css";

.restaurant-listing {
  padding-top: 0;

  .container {

  }
}

.restaurant-listing-cart {
  margin-bottom: 16.3vh;

  .breadcrumb {
    /*margin-bottom: 1.5rem;*/
  }

  .row {
    margin: 0;
  }
}

@media (min-width: 768px) {
  .restaurant-listing-filter-fixed {
    position: fixed;
    z-index: 1029;
  }

  .restaurant-listing .container {
    margin-top: 1.75rem;
  }

  .restaurant-listing-filter {
    margin-top: 0.2rem !important;
    .menu-item {
      border-right: 1px solid $grey-white-color;
    }
  }

  .restaurant-listing-filter span:first-child .menu-item {
    border-left: 1px solid $grey-white-color;
  }
}

@media (max-width: 768px) {
  .restaurant-listing-filter-fake {
    display: none;
  }
}

.restaurant-listing-filter-fake {
  pointer-events: none;
  opacity: 0;
}

.restaurant-listing-filter-fixed {
  background-color: $grey-white-ultra-color;
}

.restaurant-listing-filter {
  width: 100%;
  max-width: 100% !important;

  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase!important;
  color: $grey-color;

  .menu-item {
    height: 1.75rem;
    line-height: 1;
  }

  .menu-item.selected {
    color: $grey-color;
  }

  .container {
    margin-top: 0;
  }
}
