@import "../../vars.css";

body {
  font-family: Montserrat, Roboto, sans-serif;
  background-color: #fafafa;
  font-weight: 500;
}

button a {
  color: inherit !important;
}

a:hover {
  text-decoration: none;
  color: $red-color;
}

[role="button"] {
  cursor: pointer;
}

.container-fluid {
  padding-right: 60px;
  padding-left: 60px;
}

.container-xs {
  /*max-width: 1320px !important;*/
}

.container {
  margin-bottom: 20px;
}

*:focus {
  outline: none;
}

.hidden,
.popover-content {
  display: none;
}
.popover-body .popover-content {
  display: block;
}
.color-gray {
  color: $gray-color;
}

.color-white {
  color: $white-color !important;
}

.color-gray-300 {
  color: $gray-color-300;
}

.color-gray-400 {
  color: $gray-color-400;
}

.color-gray-500 {
  color: $gray-color-500;
}

.color-gray::placeholder {
  /* Chrome/Opera/Safari */
  color: $gray-color;
}

.color-gray-500::placeholder {
  /* Chrome/Opera/Safari */
  color: $gray-color-500;
}

.color-green {
  color: $green-color;
}

.color-yellow {
  color: $yellow-color;
}

.color-orange {
  color: $orange-color;
}

.color-red {
  color: $red-color;
}

.color-black {
  color: $black-color;
}

.color-black-300 {
  color: $black-color-300;
}

.color-black-400 {
  color: $black-color-400;
}

.color-grey-dark {
  color: $grey-dark-color;
}

.color-cg-020 {
  color: $grey-dark-color;
}

.color-grey {
  color: $grey-color;
}

.color-cg-040 {
  color: $grey-color;
}

.color-grey-light {
  color: $grey-light-color;
}

.color-cg-074 {
  color: $grey-light-color;
}

.color-grey-white {
  color: $grey-white-color;
}

.color-cg-078 {
  color: $grey-white-color;
}

.color-blue-light {
  color: $blue-light-color;
}

.color-c-130 {
  color: $blue-light-color;
}

.color-grey-white-2 {
  color: $grey-white-2-color;
}

.color-cg-086 {
  color: $grey-white-2-color;
}

.color-grey-white-ultra {
  color: $grey-white-ultra-color;
}

.color-cg-092 {
  color: $grey-white-ultra-color;
}

.color-white-grey {
  color: $white-grey-color;
}

.color-cg-097 {
  color: $white-grey-color;
}

.color-c-100 {
  color: $red-color;
}

.color-c-110 {
  color: $green-color;
}

.color-c-120 {
  color: $yellow-color;
}

.color-c-130 {
  color: $blue-light-color;
}

.font-medium {
  font-size: 14px;
}

.font-large {
  font-size: 16px;
}

.font-largest {
  font-size: 18px;
}

.custom-input {
  background: inherit;
  box-shadow: none !important;
  outline: 0;
  border: 0;
}

.bg-transparent {
  background-color: transparent;
}

.bg-green {
  background-color: $red-color;
}

.bg-orange {
  background-color: $orange-color;
}

.bg-yellow {
  background-color: $yellow-color;
}

.bg-gray {
  background-color: $gray-color;
}

.bg-gray-200 {
  background-color: $gray-color-200;
}

.bg-red {
  color: #fff;
  background-color: $red-color;
}

.border-red {
  border-color: $red-color !important;
}

.border-gray {
  border-color: $gray-color !important;
}

.color-gray-300 {
  color: $gray-color-300;
}

.border-white-300 {
  border-color: $white-color-300;
}

.border-gray-300 {
  border-color: $gray-color-300;
}

.border-bottom {
  border-bottom: 1px solid $gray-color-200;
}

.border-top {
  border-top: 1px solid $gray-color-200;
}

.border {
  border: 1px solid $grey-white-color !important;
}

.border-box {
  border-radius: 3px;
}

.html-content {
  img {
    max-width: 100%;
  }
}

.d-flex {
  img.responsive {
    align-self: center;
    max-width: 100%;
  }
}

.ml-20 {
  margin-left: 20px;
}

.ml-40 {
  margin-left: 40px;
}

.btn-round {
  position: relative;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  justify-content: center;
  display: flex;
}

.btn-round .badge {
  position: absolute;
  top: auto !important;
  bottom: 0px;
  right: -10px;
  border-radius: 50%;
  border: 2px solid #fff;
  height: 15px;
  padding: 2px 4px;
  font-size: 6px;
  font-weight: 400;
}

.block {
  border-radius: 0px !important;
  padding: 24px !important;
}

.box-shadow {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.xsmall {
  font-size: 50%;
}

.btn-shadow {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
}

.main-page {
  padding-top: 118px;
  background-color: #f7f7f7;
}

.vertical-center {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
}

.horizontal-center {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
}

.position-center {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.table-fixed {
  table-layout: fixed;
}

.table-responsive.table-fixed {
  display: table !important;
}

@media (max-width: 768px) {
  .container-fluid {
    padding: 0 15px;
  }

  .main-page {
    background-color: $white-color;
  }

  .block {
    padding: 10px !important;
  }

  .block.p-0 {
    padding: 0 !important;
  }

  .table-responsive {
    thead {
      display: none;
    }
    .row {
      margin: 0;
      padding: 15px;
    }
    .column,
    td,
    th {
      text-align: right;
      float: left;
      width: 100%;
    }
    .column:before,
    td:before,
    th:before {
      content: attr(data-title);
      float: left;
      font-weight: bold;
    }
  }
}

.map-background {
  /*min-height: 100vh;*/
  background-image: url(/images/background.png);
  background-size: 100% auto;
  background-repeat: repeat-y;
  margin-top: -30px;
  padding-top: 20px;
  padding-bottom: 20px;

  .container {
    margin-bottom: 0;
  }
}

.breadcrumb {
  font-size: 0.875rem;
  padding: 0;
}

.breadcrumb-item.active {
  color: $grey-color;
}

.font-weight-bold {
  font-weight: 600 !important;
}

strong {
  font-weight: 600 !important;
}

@media (min-width: 768px) {
  .container {
    max-width: 1175px !important;
    /*max-width: 100%;*/
    padding-right: 0;
    padding-left: 0;
    margin-top: 3rem;
  }
}

.font-fb-250 {
  font-size: 25px !important;
  font-weight: 600 !important;
}

.font-fr-170 {
  font-size: 17px !important;
}

.font-fr-140 {
  font-size: 14px !important;
}

.font-fb-140 {
  font-size: 14px !important;
  font-weight: 600 !important;
}

.font-fr-130 {
  font-size: 13px !important;
}

.font-fr-120 {
  font-size: 12px !important;
}

.font-fb-120 {
  font-size: 12px !important;
  font-weight: 600 !important;
}

.font-fr-115 {
  font-size: 11px !important;
}

.font-fr-110 {
  font-size: 11px !important;
}

.font-fr-100 {
  font-size: 10px !important;
}

.font-fb-100 {
  font-size: 10px !important;
  font-weight: 600 !important;
}

.dev-color-1 {
  background-color: #ffd494;
}

.dev-color-2 {
  background-color: rgba(22, 255, 0, 0.48);
}

.dev-color-3 {
  background-color: rgba(255, 3, 0, 0.5);
}

.dev-color-4 {
  background-color: rgba(11, 97, 255, 0.52);
}

.dev-color-5 {
  background-color: rgba(255, 0, 240, 0.48);
}

.dev-color-6 {
  background-color: rgba(12, 255, 192, 0.5);
}

.dev-color-7 {
  background-color: rgba(255, 242, 0, 0.51);
}

.dev-color-8 {
  background-color: rgba(163, 161, 163, 0.52);
}
