@import "../../vars.css";

body{
  font-family: Montserrat,Roboto,sans-serif;
  background-color: #fafafa;  
}

.container-fluid {
  padding-right: 60px;
  padding-left: 60px;
}

.container-xs {
  max-width: 1320px;
}

*:focus {
    outline: none;
}

.hidden,.popover-content{
  display: none;
}
.popover-body .popover-content{
  display: block;
}
.color-gray{
  color: $gray-color;
}

.color-gray-300{
  color: $gray-color-300;
}

.color-gray-400{
  color: $gray-color-400;
}

.color-gray::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $gray-color;
}
.color-gray::-moz-placeholder { /* Firefox 19+ */
  color: $gray-color;
}
.color-gray:-ms-input-placeholder { /* IE 10+ */
  color: $gray-color;
}
.color-gray:-moz-placeholder { /* Firefox 18- */
  color: $gray-color;
}

.color-green{
  color: $green-color;
}

.color-yellow{
  color: $yellow-color;
}

.color-orange{
  color: $orange-color;
}

.color-red{
  color: $red-color;
}

.color-black{
  color: $black-color;
}

.font-large{
  font-size: 16px;
}

.font-largest{
  font-size: 18px;
}

.custom-input {
  background: inherit;
  box-shadow: none !important;
  outline: 0;
  border: 0;
}

.bg-transparent{
  background-color: transparent;
}

.bg-green {
  background-color: $red-color;
}

.bg-orange {
  background-color: $orange-color;
}

.bg-yellow {
  background-color: $yellow-color;
}

.bg-gray {
  background-color: $gray-color;
}

.bg-red {
  color: #fff;
  background-color: $red-color;
}

.border-white-300{
  border-color: $white-color-300;
}

.border-bottom {
  border-bottom: 1px solid $gray-color-200;
}

.bor

.ml-20 {
  margin-left: 20px;
}

.ml-40 {
  margin-left: 40px;
}

.btn-round {
  position: relative;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  justify-content: center;
  display: flex;
}

.btn-round .badge {
  position: absolute;
  top: auto !important;
  bottom: 0px;
  right: -10px;
  border-radius: 50%;
  border: 2px solid #fff;
  height: 15px;
  padding: 2px 4px;
  font-size: 6px;
  font-weight: 400;
}

.block{
    border-radius: 0px !important;
    padding: 30px !important;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.03);
}

.xsmall{
  font-size: 50%;
}

.btn-shadow{
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
}

.main-page{
  margin-top: 100px;  
}

.vertical-center{
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
}