.header {
  /*box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);*/
  background-color: #ffffff;
  /*border-bottom: 1px solid #e7e7e7;*/

  .container {
    height: 96px;
  }
}

.header-suggestion {
  .icon-search {
    position: absolute;
    top: 17px;
    left: 0;
  }
  .dropdown-item {
    a {
      float: left;
    }
  }
}

.navbar {
  padding: 0;
  .navbar-brand {
    z-index: 1;
    > img {
      width: 48px;
    }
  }
}

@media (max-width: 768px) {
  .navbar {
    padding-right: 10px;
    padding-left: 10px;

    .navbar-brand {
      margin-right: 10px;
      > img {
        width: 40px;
      }
    }
  }
}

#popoverCartBtn {
  position: relative;
  height: 41px;
  width: 41px;
  font-size: 20px;
}

#popoverCartBtn i {
  position: absolute;
  top: 10px;
  left: 10px;
}

#popoverCartBtn .badge {
  width: 15px;
  height: 15px;
  border: none;
  font-size: 10px;
  line-height: 1.2 !important;
  bottom: -2px;
  right: -15px;
}

.header-btn-login {
  width: 86px;
  height: 24px;
  line-height: 1;
}