.header {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border-bottom: 1px solid #e7e7e7;
}

.popover-cart{
  max-width: 500px;  

  .text-truncate{
    width: 300px;
  }

  .popover-cart-content {    
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 400px;    
  }

  .btn-round{
    width: 20px;
    height: 20px;
    font-size: 10px;
  }
}

.navbar{
  padding-right: 40px;
  padding-left: 40px;
}



.navbar-brand > img {
  width: 48px;
}

@media (max-width: 768px){
  .navbar{
    padding-right: 10px;
    padding-left: 10px;
  }  

  .popover-cart{
    max-width: 90%;
    .text-truncate{
      width: 160px;
      white-space: normal;
    }
  }

}