@import "../../vars.css";

.slider {
  position: relative;
  padding-left: 60px;
  padding-right: 60px;
  margin-left: -60px;
  margin-right: -60px;

  .control {
    font-size: 25px;
    width: 50px;
    height: 50px;
  }
}

.item-header-main .read-more {
    font-size: 0.75rem;
    color: $gray-color-400;
}

@media (min-width: 768px) {
  .item-header-img {
    width: 17%;
    min-width: 17%;
  }
}

.item-header-img img{
  width: 100%;
}

.item-header-product-options .col-md-4 {
  padding-left: 0;
  padding-right: 0;
}

.item-header-btn-add-to-cart {
  line-height: 1;
  padding: 0;
  width: 65px;
  height: 65px;
  font-size: 50px;
  border-radius: 50%;
  font-weight: 200;
  margin-bottom: 2.25rem;
  background-color: $grey-white-ultra-color;
  border: 1px solid #c8c8c8;

  -webkit-box-shadow: 1px 6px 10px rgba(0, 0, 0, 0.05);
  box-shadow: 1px 6px 10px rgba(0, 0, 0, 0.05);
}

.item-header-btn-add-to-cart span {
  position: relative;
  top: 6px;
  left: 0.5px;
}

.item-header-btn-add-to-cart div {
  position: relative;
  font-size: 17px;
  top: 30px;
  left: -20px;
  letter-spacing: -1px;
  color: $red-color;
  font-weight: 400;
}

.item-body-img {
  /*width: 17%;*/
  min-width: 144px;
}

.item-body-img img {
  width: 100%;
}


