@import "../../vars.css";

.btn-or{
  border-radius: 100px;
}

.checkout {
  .container {
    padding-top: 10px;
  }
}

@media (min-width: 768px) {
  .checkout-left {
    padding-left: 0;
    padding-right: 12px;
  }

  .checkout-left-login {
    padding-top: 144px;
  }

  .checkout-right {
    padding-left: 12px;
    padding-right: 0;
  }

  .checkout-right>div {
    background-color: $white-grey-color;
    border: 1px solid $grey-white-color;
    min-width: 350px;
  }

  .checkout-btn-confirm {
    margin-top: 240px;
  }
}

@media (max-width: 768px) {
  .checkout-left {
    margin-bottom: 12px;
  }
}

.checkout-right>div {
  background-color: $white-grey-color;
}

.checkout-item {
  border-bottom: 1px solid $grey-white-color;

  .custom-checkbox {
    cursor: default;
  }

  .custom-checkbox.selected {
    color: $grey-light-color !important;
  }
}

.checkout-btn-confirm {
  background-color: $red-color;
  color: white;
  width: 288px;
  height: 32px;
  border: 0;
  border-radius: 0;
}



