@import "../../../../vars.css";

.popover-cart {
  max-width: 500px;

  .text-truncate {
    width: 300px;
    padding-right: 10px;
  }

  .popover-body {
    max-height: 100%;
  }

  .popover-cart-content {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 400px;
  }

  .popover-header:before {
    border-bottom: none !important;
  }

  .btn-round {
    width: 20px;
    height: 20px;
    font-size: 10px;
  }
}

.popover-cart.arrow-red {
  .arrow:after {
    border-bottom-color: $red-color;
  }
}

@media (max-width: 768px) {
  .popover-cart {
    max-width: calc(100vw - 10px);
    .text-truncate {
      width: 160px;
      white-space: normal;
    }
  }
}

.pop-over-cart-btn {
  font-size: 0.875rem !important;
}
