@import "../../../vars.css";

.menu-item{
  cursor: pointer;
  color: $grey-color;
  padding-bottom: 0.75rem;

  a{
    color: inherit;
  }
}

.menu-item:first-child{
  padding-left:0;
}

.menu-item.selected{
  color: $red-color;
}

.list-group {
  .menu-item:first-child {
    /*padding-left: 20px;*/
  }
}