@import "../../../vars.css";

.menu-item{
  cursor: pointer;
  color: $gray-color-300;
  padding: 10px 20px;

  a{
    color: inherit;
  }
}

.menu-item:first-child{
  padding-left:0;
}

.menu-item.selected{
  color: $black-color;
}

.list-group {
  .menu-item:first-child {
    padding-left: 20px;
  }
}